<!doctype html>
<html lang="en">

<head>
  <title>Shopping List Check Off</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="styles/bootstrap.min.css">
  <link rel="stylesheet" href="styles/styles.css">
  <script src="scripts/angular.js"></script>
  <script src="scripts/app.js"></script>
</head>

<body ng-app="ShoppingListCheckOff">
  <div class="container">
    <h1>Shopping List Check Off</h1>

    <div class="row">

      <!-- To Buy List -->
      <div class="col-md-6" ng-controller="ToBuyController as ctrlToBuy">
        <h2>To Buy:</h2>
        <ul>
          <li ng-repeat="item in ctrlToBuy.itemsToBuy track by $index">
            Buy <input type="text" ng-model="item.quantity" placeholder="{{ item.quantity }}">
            <strong>{{ item.name }}</strong> at {{ item.pricePerItem | tridollar }} ea
            <button ng-click="ctrlToBuy.markAsBought($index);">Bought</button>
          </li>
        </ul>
        <div class="emptyMessage" ng-if="ctrlToBuy.itemsToBuy.length == 0">Everything is bought!</div>
      </div>

      <!-- Already Bought List -->
      <div class="col-md-6" ng-controller="AlreadyBoughtController as ctrlBought">
        <h2>Already Bought:</h2>
        <ul>
          <li ng-repeat="item in ctrlBought.itemsBought">
            Bought {{ item.quantity }} {{ item.name }} for total price of 
            <strong>{{ item.quantity * item.pricePerItem | tridollar }}</strong>
          </li>
        </ul>
        <div class="emptyMessage" ng-if="ctrlBought.itemsBought.length == 0">Nothing bought yet.</div>
      </div>
    </div>
  </div>

</body>

</html>