.navbar {
    margin-bottom: 0;
    background-color: #c9a;
    border: none;
    border-radius: 0;
    box-shadow: #0009 0 0 10px;
}
.navbar .navbar-brand, .navbar .navbar-brand:hover {
    color: white;
    font-weight: bold;
    font-size: 1.5em;
}
.navbar .navbar-brand:hover {
    text-shadow: 0 0 5px #fff4;
}

.navbar-default .navbar-toggle {
    border: 1px solid white;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #fff3;
}
.navbar-default .navbar-toggle span.icon-bar {
    background-color: white;
}

.navbar-default .btn-link, 
.navbar-default .btn-link:focus, 
.navbar-default .btn-link:hover {
    color: #ffffff;
    text-decoration: none;
}

#collapsable-nav {
    padding: 0 15px 0;
}

.btn-block {
    margin: 8px 0;
    display: block;
    width: 100%;
    border: 3px solid transparent;
    border-radius: 0.5em;
    background-color: #fff3;
    padding: 4px;
}

.btn-link:focus, .btn-link:hover {
    box-shadow: #0006 0 1px 4px;
    border: 3px solid #fff6;
    background-color: #fff6;
    font-weight: bold;
}

.navbar-default div.collapse, .navbar-default div.collapsing {
    padding: 10px 0 5px;
    background-color: hsl(340, 33%, 60%);
}

div.main-content {
    min-height: 1000px;
}

div.tile {
    margin-bottom: 30px;
    min-height: 500px;
    box-shadow: #0009 0 2px 8px;
    border: 2px solid hsl(340, 33%, 20%);
    border-radius: 15px;
    background-color:hsl(340, 33%, 80%);
    padding: 0 1em;
    text-align:justify;
}

h1, h2, h3, h4, h5, h6 {
    color:hsl(340, 33%, 20%);
    font-weight: bold;
}

h1.page-title {
    margin-bottom: 20px;
}

div.tile h3 {
    max-width: 8em;
    margin: 10px auto;
    border-bottom: 1px solid hsl(340, 33%, 20%);
    padding-bottom: 5px;
}

p.backToTop {
    margin-top: 10px;
    text-align: right;
    font-size: 0.8em;
}